{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <script type="text/javascript">
        function toggleGroup(id) {
            $('div#' + id).toggle();
            return false;
        }
    </script>

    <div id="welcome">
        <h1><span>project in details</span>{{ project.name }} (#{{ project_id }})</h1>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-8">
        <h2>task-groups</h2>

        {% for group in project.groups %}

            <div class="task-group">
                <h3>{{ group.name }}</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>done</th>
                            <th>date</th>
                            <th>task name</th>
                            <th>details...</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in group.tasks %}
                            <tr>
                                <td><label><input type="checkbox"> </label></td>
                                <td>{{ task.doneBy }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.details }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="javascript: toggleGroup('add-task-{{ group.getId() }}')">add a task</a>
                    <div id="add-task-{{ group.getId() }}" style="display: none; padding: 1rem;">
                        <form class="form-group">
                            <dl class="dl-horizontal">
                                <dt><label for="name">name</label></dt>
                                <dd><input type="text" name="name" id="name" placeholder="task name" class="form-control"></dd>

                                <dt><label for="done-by">done by</label></dt>
                                <dd><input type="date" name="done_by" id="done-by" value="" class="form-control"></dd>

                                <dt></dt>
                                <dd><input type="submit" value="add" class="btn btn-xs btn-primary"></dd>
                            </dl>
                        </form>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="col-sm-4 pull-left">
        <h2>Managing Project</h2>
        <div class="task-group">
            <h3>add a new group</h3>
            <form class="form-group">
                <label for="name">name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="group name">
                <input type="submit" value="add" class="btn btn-xs btn-primary">
            </form>
        </div>

        <div class="task-group">
            <h3>change project info</h3>
            <form class="form-group">
                <input type="text" name="title" id="title" placeholder="group name" class="form-control">
                <input type="submit" value="change" class="btn btn-xs btn-primary">
            </form>
        </div>

        <div class="task-group">
            <h3>close this project</h3>
            <form class="form-group">
                <label><input type="checkbox" name="action" id="action" value="close"> ← check here and </label>
                <input type="submit" value="close" class="btn btn-xs btn-warning">
            </form>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
