{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <!--suppress CssUnusedSymbol -->
    <style type="text/css">
    </style>

    {{ taskJS|raw }}

    <div id="welcome">
        <h1><span>task list </span>by dates</h1>
    </div>

    {% for type, byProject in dateType %}
    <div class="col-md-3 col-sm-6 task-project">

        <h2>{{ type }}</h2>
        
        <div class="task-group">
            {% for group_id, tasks in byProject %}
                {% set group = byProject.getGroup(group_id) %}
                {% set project = byProject.getProject(group_id) %}
                <h3>{{ group.name }} @ 
                    {{ project.name }}
                    <a href="{{ path('project-detail', {'id':byProject.getProject(group_id).getId()}) }}">{% include 'task/includes/project-details.html.twig' %}</a>
                    <span class="doneBy">{{ group.getDoneBy() }}</span>
                </h3>
                <ul class="list-group">
                    {% for task in tasks %}
                        <li class="list-group-item task-{{ task.getStatus() }}">
                            {% include 'task/includes/task-toggle.html.twig' %}
                            {{ task.getDate() }} <a href="{{ path('task-edit', {'id':task.getId()}) }}">{{ task.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

    </div>
    {% endfor %}
    
{% endblock %}

{% block stylesheets %}
{% endblock %}
