{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <style type="text/css">
        li.task-done {
            color: #666;
            text-decoration: line-through;
        }
        li.task-active {

        }
    </style>

    {{ taskJS|raw }}

    <div id="welcome">
        <h1><span>task list </span>by dates</h1>
    </div>

    {% for type, byProject in dateType %}
    <div class="col-md-4 col-sm-6 task-project">

        <h2>{{ type }}</h2>
        
        <div class="task-group">
            {% for project_name, tasks in byProject %}
                <h3>{{ project_name }}</h3>
                <ul class="list-group">
                    {% for task in tasks %}
                        <li class="list-group-item task-{{ task.getStatus() }}">
                            {% include 'task/includes/task-toggle.html.twig' %}
                            {{ task.getDate() }} {{ task.title }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

    </div>
    {% endfor %}
    
{% endblock %}

{% block stylesheets %}
{% endblock %}
