{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>task manager </span>projects at a glance</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th rowspan="2">project <br>name</th>
                <th rowspan="2">done <br>by</th>
                <th rowspan="2">all tasks<br>count</th>
                <th colspan="4">completed tasks</th>
                <th rowspan="2">remaining<br>tasks</th>
                <th rowspan="2">completion <br>(%)</th>
            </tr>
            <tr>
                <th>24 hrs</th>
                <th>48 hrs</th>
                <th>last 7 days</th>
                <th>all</th>
            </tr>
            </thead>
            <tbody>
            {% for project in summary %}
                <tr>
                    <th>{{ project.project_name }}
                        <a href="{{ path('project-detail', {'id':project.id}) }}">{% include 'task/includes/project-details.html.twig' %}</a>
                    </th>
                    <td>{{ project.done_by }}</td>
                    <td>{{ project.count_tasks }}</td>
                    <td>{{ project.count_24hr }}</td>
                    <td>{{ project.count_48hr }}</td>
                    <td>{{ project.count_week }}</td>
                    <td>{{ project.count_done }}</td>
                    <td>{{ project.remaining }}</td>
                    <td>{% if (project.completion is null) %}--{% else %}{{ project.completion | number_format(1) }}&nbsp;%{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
