{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>task list </span>by projects</h1>
    </div>

    <script type="text/javascript">
        function toggleGroup(id) {
            $('div#' + id).toggle();
            return false;
        }
    </script>

    {% for project in projects %}

        <div class="col-md-3 col-sm-4 task-project">
            <h2>{{ project.name }} <a href="/projects/{{ project.getId() }}"><span
                            class="small glyphicon glyphicon-pencil"></span></a></h2>
            {% for group in project.groups %}
                <div class="task-group">
                    <h3>{{ group.name }}</h3>
                    <ul class="list-group">
                        {% for task in group.tasks %}
                            <li class="list-group-item" style="">
                                {% if (task.isActive()) %}
                                    <label><input type="checkbox"> </label> {{ task.getDate() }} {{ task.title }}
                                {% else %}
                                    <label><input type="checkbox" checked> </label> 
                                    <span style="text-decoration: line-through;">{{ task.getDate() }} {{ task.title }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
