{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <!--suppress CssUnusedSymbol -->
    <style type="text/css">
        h2 span.doneBy {
            margin-top: .4em;
            font-size: .6em;
            float: right;
        }
    </style>

    {{ taskJS|raw }}

    <div id="welcome">
        <h1><span>task list </span>by projects</h1>
    </div>

    <script type="text/javascript">
        function toggleGroup(id) {
            $('div#' + id).toggle();
            return false;
        }
    </script>

    {% for project in projects %}

        <div class="col-md-3 col-sm-6 task-project">
            <h2>
                {{ project.name }} 
                <a href="{{ path('project-detail', {'id':project.getId()}) }}">{% include 'task/includes/project-details.html.twig' %}</a>
                <span class="doneBy">{{ project.doneBy }}</span>
            </h2>
            {% for group in project.groups %}
                <div class="task-group">
                    <h3>{{ group.name }} <span class="doneBy">{{ group.getDoneBy() }}</span></h3>
                    <ul class="list-group">
                        {% for task in group.tasks %}
                            <li class="list-group-item task-{{ task.getStatus() }}" style="">
                                {% include 'task/includes/task-toggle.html.twig' %}
                                {{ task.getDate() }} <a href="{{ path('task-edit', {'id':task.getId()}) }}">{{ task.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
